@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: Cabin, sans-serif;
  color: #1b2021;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fbb13c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fbb13c;
}

.scroll-custom {
  scrollbar-color: #1b2021;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #1b2021;
}

.filter-scroll-custom {
  scrollbar-color: #1b2021;
}

.filter-scroll-custom::-webkit-scrollbar-thumb {
  background-color: #1b2021;
}
