.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 450px;
}

@media (max-width: 1024px) {
  .swiper-slide {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: 300px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-button-next {
  color: #1b2021;
  top: 90%;
}

.swiper-button-prev {
  color: #1b2021;
  top: 90%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-pagination-bullet-active {
  background-color: #1b2021;
}

@media (max-width: 1024px) {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
